{% extends "base.html" %}
{% block title %}
Reinicio de contraseña
{% endblock %}
 {% load static %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}">
    {% endblock %}
{% block content %}

{% if mensaje_error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ mensaje_error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
  
<div id="formulario">
    <h2 id="Titulo">
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
</svg>
    Nueva contraseña
</h2> 
<form method="POST">
    {%csrf_token%}
    <label for="pswd"> Nueva contraseña:</label>
    <input type="password" name="pswd" id="pswd" required>
    <label for="pswdConfirmar"> Confirmar contraseña:</label>
    <input type="password" name="pswdConfirmar" id="pswdConfirmar" required>

    <button type="submit" class="btn btn-primary" id="registrar"> Restablecer contraseña</button>
</form>    

</div>
{% endblock %}


        {% block extra_js %}
    <script src="{% static 'js/passwordMatch.js' %}"></script>
    {% endblock %}
